.grid-container {
    display: grid;
    gap: 20px;
    background-color: black;
    padding: 20px;
   }
   .grid-container > div {
    background-color: aqua;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
   }
   .item1 {
    grid-column: 1/4;
   }
   .item2 {
    grid-column: 3/1;
   }
   .item3 {
    grid-column: auto;
   }
   .item7 {
    grid-column: 1/4;
   }